.light {
  background-color:#FCFCFC;
  border-color: #6C6EA0;
  color: #6C6EA0;
}

.slider-light {
  background-color: #D3D3D3;
}

.slider-light::-webkit-slider-thumb {
  background-color: #6C6EA0;
}

.slider-light::-moz-range-thumb {
  background-color: #6C6EA0;
}
